.c-list {
    &__item {
        margin-bottom: 8px;
    }

    &--disc {
        list-style: disc;
    }

    &--disc & {
        &__item {
            margin-left: 16px;

            &:hover {
                color: #e2492f;
            }
        }
    }
}

.l-list {
    margin: 16px 0;
}